* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header, main, footer {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: aquamarine;
}

footer {
    background-color: cadetblue;
}